header {
	color: orange;
	padding: 10px;
	text-align: center;
}

.catalogue_img {
	padding: 10px;
	display: flex;
}

.flower_image {
	border: 1px solid black;
}

.navBar {
	margin: auto 0px;
}

.watering_can {
	padding-left: 50%;
}

.comment_request {
	font-size: 27px;
}
.comment_box {
	border-bottom: 1px solid black;
	height: 400px;
}

.table_heading {
	font-size: 18px;
}

.table_heading td {
	width: 150px;
}

.input_area {
	padding: 2px;
}

.input_area div {
	padding: 5px;
}

.flower_description {
	display: flex;
}

.description_text {
	width: 800px;
	margin: auto 0px;
	font-size: 120%;
}
